.todolist
	&__item
		display flex
		justify-content flex-start
		align-items center

		&--done &-name
			text-decoration line-through

		&-index
			margin-left 1em

		&-status
			margin-left 2em
			
			